<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Rialto" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= favicon_tag "/images/favicon.png" %>
  </head>
  <body>
    <div class="container">
      <% if current_path != "index.html" %>
        <%= link_to "&laquo; back", "/", relative: true %>
      <% end %>
      <h1>Rialto Playbook</h1>
      <p>Welcome to the Rialto Playbook!</p>
      <p>Here you can find more information on planning, development flow etc. within the Rialto team.</p>

      <%= yield %>

      <h2>Topics</h2>
      <%= topics %>
    </div>
  </body>
</html>
